<!--
     installLocation: auto | preferExternal
-->


<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="ir.vosatezehn.com"
          android:installLocation="auto">

    <uses-sdk android:minSdkVersion="21"/>

    <!--
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    -->
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>

    <!-- ..........................  not kill app -->
    <!-- RECEIVE_BOOT_COMPLETED: show AutoStart switch in app info, allow auto boot like alarm, must enable by user -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.USE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>

    <!-- ..........................  shortcut -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT"/>
    <uses-permission android:name="com.htc.launcher.permission.UPDATE_SHORTCUT"/>

    <!-- ..........................  uses-permission PACKAGE -->
    <!--
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    -->

    <!-- ..........................  uses-permission Task -->
    <!--
    <uses-permission android:name="android.permission.REORDER_TASKS"/>
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>
    -->

    <!-- ..........................  uses-permission NET -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
   
    <!-- ..........................  uses-permission Storage -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO"/>
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO"/>
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED"/>

    <!-- ..........................  uses-permission Badge -->
    <uses-permission android:name="com.sec.android.provider.badge.permission.READ"/>
    <uses-permission android:name="com.sec.android.provider.badge.permission.WRITE"/>
    <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE"/>

    <!-- ..........................  uses-permission Location / BSSID -->
    <!--
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"
                         android:maxSdkVersion="32"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
    <uses-permission android:name="android.permission.NEARBY_WIFI_DEVICES"/>
    -->

    <!-- ..........................  Call SMS | Google play sensitive -->
    <!--
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.SEND_RESPOND_VIA_MESSAGE_SMS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS"/>
    <uses-permission android:name="android.permission.READ_CALL_LOG"/>
    <uses-permission android:name="android.permission.MANAGE_OWN_CALLS"/>
    <uses-permission android:name="android.permission.NEW_OUTGOING_CALL"/>
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>
    <uses-permission android:name="android.permission.RECEIVE_WAP_PUSH"/>
    -->

    <!-- ..........................  others -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <!--
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    -->
    <uses-permission android:name="android.permission.USE_BIOMETRIC"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.SENSORS"/>

    <!-- Android Q+, notificationBuilder.setFullScreenIntent(pendingIntent), for(incoming phone call/alarm clock) -->
    <!-- <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT"/> -->
    
    <!-- Android 13+, for (notifications/create chanel) -->
    <!-- <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/> -->

    <!-- need for launch app from services in below sdk 21 -->
    <uses-permission  android:name="android.permission.GET_TASKS"/>

    <!-- ============================== uses-feature ============================================== -->
    <uses-feature
            android:name="android.hardware.fingerprint"
            android:required="false"/>
    <uses-feature
            android:name="android.hardware.camera"
            android:required="false"/>
    <uses-feature
            android:name="android.hardware.location"
            android:required="false"/>
    <uses-feature
            android:name="android.hardware.location.network"
            android:required="false"/>
    <uses-feature
            android:name="android.hardware.location.gps"
            android:required="false"/>
    <uses-feature
            android:name="android.hardware.wifi"
            android:required="false"/>
    <uses-feature
            android:name="android.hardware.telephony"
            android:required="false"/>

    <!-- 
            android:name="${applicationName}" or ".MyApplication" or "io.flutter.app.FlutterApplication"
            android:appCategory="productivity"
            allowBackup: for (adb backup and adb restore)
            persistent: system app flag. useful for platform developers or hardware vendors. prevents app from being automatically killed
	    tools:replace="android:name"
           -->

    <application
        android:label="وسعت ذهن"
        android:name=".MyApplication"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:hardwareAccelerated="true"
        android:allowBackup="true"
        android:allowClearUserData="false"
        android:excludeFromRecents="false"
        android:grantUriPermissions="true"
        android:testOnly="false"
        android:largeHeap="false"
        android:supportsRtl="true"
        android:layoutDirection="rtl"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true"
        android:exported="true"
        tools:ignore="GoogleAppIndexingWarning">


        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:showWhenLocked="true"
            android:showOnLockScreen="true"
            android:turnScreenOn="true"
                android:windowSoftInputMode="adjustResize" tools:targetApi="o_mr1">
          

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <intent-filter>
                <action android:name="FLUTTER_NOTIFICATION_CLICK"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <meta-data
                    android:name="io.flutter.embedding.android.NormalTheme"
                    android:resource="@style/NormalTheme"/>

            <!--  launching App with a URI -->
            <meta-data
                    android:name="flutter_deeplinking_enabled"
                    android:value="true" />

            <!--
	    <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https://green-oasis-2023.firebaseapp.com/__/auth/handler"
                      />
            </intent-filter>
	    
            <intent-filter
                    android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="appName" android:host="com.companyName.appName"/>
            </intent-filter>
	    
	    <intent-filter>
                <action android:name="ir.nicode.bigbango.WALLET"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
            -->
	    
        </activity>


        /*<receiver
                android:exported="false"
                android:name="com.dexterous.flutterlocalnotifications.ScheduledNotificationReceiver" />

        <receiver
                android:exported="false"
                android:name="com.dexterous.flutterlocalnotifications.ScheduledNotificationBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON"/>
            </intent-filter>
        </receiver>

        <receiver
                android:exported="false"
                android:name="com.dexterous.flutterlocalnotifications.ActionBroadcastReceiver" />
	*/
	
        <!-- for open app files by others -->
        <!-- old: android.support.v4.content.FileProvider -->
        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="${applicationId}.provider"
                android:exported="false"
                android:grantUriPermissions="true">

            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/provider_paths"/>
        </provider>

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <meta-data
                android:name="com.google.firebase.messaging.default_notification_icon"
                android:resource="@drawable/firebase_icon"/>

        <meta-data
                android:name="com.google.firebase.messaging.default_notification_color"
                android:resource="@color/firebaseNotification"/>

        <meta-data
                android:name="com.google.firebase.messaging.default_notification_channel_id"
                android:value="@string/firebase_notification_channel_id"/>
        
        <!-- .......................... BOOT RECEIVER -->
        <receiver
                android:name=".BootReceiver"
                android:exported="true"
                android:enabled="true">

            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON"/>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
                <action android:name="android.intent.action.PACKAGE_REPLACED"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.intent.action.USER_UNLOCKED"/>
                <action android:name="android.intent.action.MEDIA_BAD_REMOVAL"/>
                <action android:name="android.intent.action.MEDIA_EJECT"/>
                <action android:name="android.intent.action.MEDIA_MOUNTED"/>
                <action android:name="android.intent.action.MEDIA_REMOVED"/>
                <action android:name="android.intent.action.MEDIA_SHARED"/>
                <action android:name="android.intent.action.MEDIA_UNMOUNTED"/>
                <action android:name="android.intent.action.EXTERNAL_APPLICATIONS_AVAILABLE"/>
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
