gradle-wrapper.jar
/key.properties
/big_bango.jks
/local.properties
/gradle.properties
GeneratedPluginRegistrant.java

/.gradle
/captures/
/gradlew
/gradlew.bat

/app/build.gradle

**/*.keystore
**/*.jks
